
<div class="container-fluid">
    <div class="page-header">
        <div class="container-fluid" style="margin-top:30px;">
            <div class="row">
                <div class="col-md-6 logoImage" style="margin-left: 3%;">

                    <img src="assets/Logo_AppliedMaterials.png" width="90px" height="25px" />
                    <span class="g3ProductIDTool">NSO Builder</span>
                </div>
            </div>
        </div>
    </div>
    
    <router-outlet> </router-outlet>
</div>