<div>
   <span style="font-size: 18px;"><i class="fa fa-exclamation-triangle" style="color:red; font-size:30px;padding-right: 10px;" ></i>Are you sure, you want to delete ?</span>
    <hr>
   <div class="row col-xs-12">
    <button mat-flat-button class="col-sm-5 dialog" style="font-size: 15px;background-color: #dacfcf; margin-right: 10px;margin-left: 10px;"(click)=" DeleteDialogClose()">NO</button>
    <button mat-flat-button color="warn" class="col-sm-5 dialog"  style="font-size: 15px; margin-right: 10px;margin-left: 10px;" (click)="Delete()">YES</button>
</div>
</div>
