.drawer-sidenav-content {

  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-tab-label {
  
  width: 25px !important;
}

.filter-button {

  background: #4599c5; 
  color: white;
}

.filter-button:hover {
  
  background-color: #0d6b9c;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #4599c5;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: #4599c5;
}

.analyticsHomePageWebMatDrawer {

  display: block;
}

.analyticsHomePageMobileMatDrawer {

  display: none;
}

.analyticsHomePageTableRow {

  cursor: pointer;
  border: 2px solid #f4f4f4; 
  height: 40px;
 }
 
 .analyticsHomePageTableRow:hover {
 
   cursor: pointer;
   background-color:rgba(0,0,0,.04);
 }

 .analyticsHomePageFilteredList {

  margin-top: -360px; 
 }

@media screen and (max-width: 600px) {

  .analyticsHomePageWebMatDrawer {

    display: none;
  }

  .analyticsHomePageMobileMatDrawer {

    display: block;
  }

  .analyticsHomePageMobileTitle {
    
    font-size: medium;
  }

  .analyticsHomePageSidenav {

    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: white;
    box-shadow:4px -1px 20px 0px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1300px) {

  .analyticsHomePageFilteredList {

    margin-top: -360px; 
   }
}


@media screen and (max-width: 1300px) {

  .analyticsHomePageFilteredList {

    margin-top: -250px; 
   }
}

@media screen and (max-width: 1000px) {

  .analyticsHomePageFilteredList {

    margin-top: 0px; 
   }
}