<div class="container-fluid" style="background-color: #4599C3;
position: relative;
width: 100%;
height: 35%;">
    <div class="page-header" style="position: absolute;
    top: 0px;
    left: 0;
    width: 100%; 
    z-index: 0;
    height: 200px;
    background-color: #4599C3;
    font-size: 20px;">
        <div class="container-fluid" style="margin-top:30px;background-color: #4599C3;position: relative;width: 100%;height: 35%;">
            <div class="row" style="color: white;margin-top: 20px;">
                <div class="col-md-6 logoImage" style="margin-left: 3%; display: flow-root;">

                    <img src="assets/Logo_AppliedMaterials.png" width="100px" height="30px" style="margin-top: -5px;"/>
                    <span class="g3ProductIDTool" style="margin-left: 15px;font-size: 18px;">Analytics </span>
                </div>
            </div>
        </div>
    </div>
    
    <router-outlet> </router-outlet>
</div>
